body {
	font-family: "微软雅黑";
}
*:hover {
	cursor: pointer;
}
.changeRadius {
	border-radius: 0;
	margin-bottom: 0;
	height: 50px;
}
.changeFont {
	color: #FFF;
	margin: 0;
}
.changeFont .changeText {
	font-size: 20px;
	padding: 10px 0 0 20px;
}
.changeFont .changeTextLeft {
	font-size: 30px;
	text-align: center;
}
.changeFont .changeTextright {
	font-size: 15px;
	text-align: right;
	padding: 12px 25px 0 0;
}
.changeFont .changeTextright a:hover {
	text-decoration: none;
}
.changeFont a {
	color: #FFF;
}
.changeFont a:hover {
	color: rgba(255,255,255,.5);
}
.nav-bar-left {
	width: 20%;
	position: fixed;
	top: 50px;
	bottom: 0;
	border-right: 1px solid #ddd;
}
.nav-bar-left .changeborder a {
	color: #000;
}
.nav-bar-left .changeborder a:hover {
	color: #FFF;
	background-color: #337ab7;
	text-decoration: none;
}
.nav-bar-left .changeborder li {
	border-radius: 0;
	border-right: none;
	padding-left: 20px;
}
.nav-bar-left .changeborder li:hover {
	background-color: #337ab7;
	cursor: pointer;
}
.content-right {
	margin-left: 20%;
	width: 81%;
	position: fixed;
	top: 50px;
	bottom: 0;
}
.publish-hw {
	margin: 25px 0 0 0;
}
.showhw {
	margin: 25px 0 0 90px;
	width: 80%;
}
.showhw table {
	border: 1
}
.showhw .changetdfont {
	padding: 13px 8px 5px 8px;
}
.correcthw {
	width: 80%;
	margin: 25px 0 0 90px;
}
.correcthw .changetdfont {
	padding: 13px 8px 5px 8px;
}
.unfinish {
	width: 85%;
	margin: 25px auto;
}
.unfinish .changeStuUn {
	padding: 13px 8px 5px 8px;
}
.finish {
	width: 85%;
	margin: 25px auto;
}